<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Empty Form</title>
    </head>
    <body>
        <h1>User story manager - Add new story</h1>
        <form action="/save-note" method="GET">
                
                    <label for="story titles">Story Title</label><br>
                    <textarea name="storytitles" rows="1" cols="50"></textarea><br><br>
                
                    <label for="user story">User Story</label><br>
                    <textarea name="userstory" rows="3" cols="50"></textarea><br><br>

                    <label for="acceptance">Acceptance criteria</label><br>
                    <textarea name="acceptance" rows="3" cols="50"></textarea><br>

                    <label for="Business Value">Business Value</label><br>
                    <input name="business" type="number" value="1000" min="100" max="1500" step="100"/><br>
              
                    <label for="Estimation (h)">Estimation (h)</label><br>
                    <input name="estimation" type="number" value="2.5" min="0.5" max="40" step="0.5"/><br>
        
                    <p>Status</p>
                    <select name="status">
                        <option value="Planning">Plannig</option>
                        <option value="TODO">TODO</option>
                        <option value="in Progress">in progress</option>
                        <option value="Rewiew">Rewiew</option>
                        <option value="Done">Done</option>
                    </select>
                    <br><br><br><br>

                    <button type="submit" style="height: 30px; width: 120px">create</button>

        </form>
        <form action="list.html" method="GET">
        </form>
    </body>
</html>