<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ "User Story manager - create" if not stories_list else " User manager - update" }}</title>
</head>
<body>
    <center>
    <h1>{{ "User Story manager - Create" if not stories_list else " Update" }} </h1>

    {% if  not stories_list %}
    <form action ="/save" method ="GET">
    {% else %}
    <form action ="/update/{{ id_pos }}" method ="GET">
    {% endif %}

        <p><label for="title">Story Title</label> <br>
        <input name = "title" rows="1" cols="60" value="{{ stories_list[1] if stories_list else '' }}"></p>
        <br>
         <p><label for="story">User Story</label> <br>
        <input name = "story" rows="1" cols="60" value="{{ stories_list[2] if stories_list else '' }}"></p>
        <br>
        <p><label for="criteria">Acceptance Criteria</label> <br>
        <input name = "criteria" rows="1" cols="60" value="{{ stories_list[3] if stories_list else '' }}"></p>
        <br>
        <p><label for="value">Buisness Value</label> <br>
        <input name="value" type="number" min="100" max="1500" step="100" value="{{ stories_list[4] if stories_list else '1000' }}"></pr>
        <br>
        <p><label for="estim">Estimation time (h)</label> <br>
        <input name="estim" type="number" min="0.5" max="40" step="0.5" value="{{ stories_list[5] if stories_list else '2.5'}}"></p>
        <br>
        <p><label for="status">Status</label> <br>
        <select name ="status" >
            <option {{ "selected" if stories_list and stories_list[6] == 'Planning' else '' }}>Planning</option>
            <option {{ "selected" if stories_list and stories_list[6] == 'TODO' else '' }}>TODO</option>
            <option {{ "selected" if stories_list and stories_list[6] == 'In Progress' else '' }}>In Progress</option>
            <option {{ "selected" if stories_list and stories_list[6] == 'Review' else '' }}>Review</option>
            <option {{ "selected" if stories_list and stories_list[6] == 'Done' else '' }}>Done</option>
        </select><br>
        <br>
        <br>
        <button type="submit">{{ "Update" if stories_list else "Create"}}</button>
    
    </form>
    </center>
</body>
</html>