
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Super-Sprinter-3000</title>
    </head>
    <body>
        <h1><strong>User Story Manager</strong></h1>
        <form action="/new_story">
            <button type="submit" style="height: 40px; width: 180px">Add New User Story</button><br><br><br><br>
        </form>
        <table>
            <tr>
                <th><strong>ID</th>
                <th><strong>Story Title</th>
                <th><strong>User Story</th>
                <th><strong>Acceptance Criteria</th>
                <th><strong>Business Value</th>
                <th><strong>Estimation</th>
                <th><strong>Status</th>
                <th><strong>Update</th>
                <th><strong>Delete</th>
            </tr>
            <tr>   
                {% for id_pos in range(1, long+1) %}
                
                        <td>{{stories_list[id_pos-1][0]}}</td>
                        <td>{{stories_list[id_pos-1][1]}}</td>
                        <td>{{stories_list[id_pos-1][2]}}</td>
                        <td>{{stories_list[id_pos-1][3]}}</td>
                        <td>{{stories_list[id_pos-1][4]}}</td>
                        <td>{{stories_list[id_pos-1][5]}}</td>
                        <td>{{stories_list[id_pos-1][6]}}</td>
                        <td><a href="/story/{{ id_pos }}">&#10000;</a></td>
                        <td><a href="/delete/{{ id_pos }}">&#128465;</a></td>
                    </tr>
                {% endfor %}
            </tr>
        </table>
    </body>
</html>